{% extends 'administration/base.html' %}

{% block content %}

{% if user.is_authenticated %}
<center>
<h1>Update Venue</h1>
    
    
<br/>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <br/>
    <input type="submit" value="Update"
    class="btn btn-outline-secondary">
</form>

{% else %}
    <h1>Sorry! You need to login first</h1>
    Login <a href="{% url 'login' %}">Here</a>
    Logged In User:  {{ user }}
    <br/>
{% endif %}

<br/><br/><br/>
</center>

{% endblock %}
