{% extends 'administration/base.html' %}

{% block content %}

<center>
<h1>Venues...</h1>
<br/>
<table class='table table-striped-hover table-bordered'>
{% for venue in venue_page %}
    <tr>
        <td>
            <a href="{% url 'show-venue' venue.id %}">
                {{ venue.name }}</a>
        </td>
        {% if user.is_authenticated %}
            <td align="right">
                <a href="{% url 'update-venue' venue.id %}"
                    class="btn btn-outline-secondary btn-sm">
                    Update</a>
                
                <a href="{% url 'delete-venue' venue.id %}"
                    class="btn btn-outline-danger btn-sm">
                    Delete</a>
            </td>
        {% endif %}
    </tr>
{% endfor %}
    
</table>
    <button class="btn btn-secondary"
    type="submit"><a href="{% url 'add-venue' %}"></a>Add Venue</button>

<br/><br/><br/><br/><br/>
{% if venue_page.has_previous %}
    <a href="?page=1">&laquo First</a>
    <a href="?page={{ venue_page.previous_page_number }}">Previous</a>
{% endif %}

Page {{ venue_page.number }} of {{ venue_page.paginator.num_pages }}.

{% if venue_page.has_next %}
    <a href="?page={{ venue_page.next_page_number }}">Next</a>
    <a href="?page={{ venue_page.paginator.num_pages }}">Last &raquo;</a>
{% endif %}
<br/><br/><br/>
</center>

{% endblock %}
